
 html, body {
      position: relative;
      height: 100%;

    }
    body {
      background: #eaeaea;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      font-size: 18px;
      background: #fff;

   
    }
    #swiper-container2  {
      
      
       background: #eaeaea;

    }
	#swiper-container2 .swiper-slide {
     height: 100%; 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
	  display:block;
	  background: #eaeaea;

    }
 #swiper-container3  {
      
      
       background: #eaeaea;

    }
  #swiper-container3 .swiper-slide {
     height: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    display:block;
    background: #eaeaea;

    }
.bgcolor{
	/* background-color: #24125f; */
	background-color: #000;
	color:#fff;
}
.bgcolor2{
  /* background-color: #24125f; */
  background-color: #eaeaea;
 
}
.bgcolor-foot{
   background-color: #f1fcff;
}

/**
**导航栏
*/
#nav-wrap-bg{
  display: none;
  height: 100%;
  position:fixed;
  left:0;
  top:0;
  z-index:98;
  opacity:0.6;
  background-image: linear-gradient(to right,#333,#000);
}
#nav-wrap{
  display: none;
  height: 100%;
  position:fixed;
  left:0;
  top:0;
  z-index:99;
}


#nav-close{
  position:absolute;
  right:3%;
  top:3%;
  width:15%;
  line-height: 0;
  cursor:pointer;
}
#nav-menu{
  position:absolute;
  left:0;
  top:16%;
  width:90%;
  margin:2% 5%; 
  height: 100%;
  font-size:0.3rem;
  color:#fff;
}
#nav-menu div{
  margin:5% 0;
}

#nav-menu div.active{
  border-bottom:2px solid #75ec94;
}

/**
**foot
*/
.footicon1,.footicon2,.footicon3,.footicon4{
  cursor:pointer;
}